<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
    <title> theFacebook <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      The <a href="http://facebook.com/">facebook</a>
      is a project to allow networking with friends. This
      is a simple example application.
    </p>
  </body>
</html>