<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title> theFacebook <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Need help? Visit
      <a href="http://facebook.com">facebook</a>
      to get help.
      <a href="http://railstutorial.org/book"></a>
    </p>
  </body>
</html>