<% @user ||= current_user %>
<div class="stats">
  <h3>Requests ( @user.requested_friends.count ) </h3>
  <% current_user.requested_friends.each do |requester| %>
  <%= link_to "Accept #{requester.name}'s friend request", accept_friendship_path(requester.id), :method => :post %>
  <%= link_to "Deny #{requester.name}'s friend request", friendship_path(
         requester.id), :method => :delete, data: { confirm: 'Are you sure you want deny?' } %>
  <% end %>
  
</div>


