<li>
  <% if current_user?(post.posted) %>
    <h5>Status Update:</h5>
  <% else %>
    <h5>Posted by: <%=link_to post.poster.name, post.poster %></h5>
  <% end %>
  
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
  <% if current_user?(post.poster) %>
    <%= link_to "delete", wallpost_path, method: :delete,
                                     data: { confirm: "Are you sure?" },
                                     title: post.content %>
  <% end %>
</li>